* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ====================== common ========================== */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0 41px;
  line-height: 68px;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.btn:hover {
  opacity: 0.9;
}

/* ====================== header =========================== */
.header {
  background: #fff;
}

.header.fixed {
  z-index: 1;
  position: sticky;
  /* Lấy 52px - khoảng cách muốn neo lại (8px) */
  top: -44px;
}

.header .body {
  /* Nên quy định padding dưới là 8px và trái phải là 0 cho thanh menu để hỗ trợ tăng trải nghiệm thanh sticky */
  padding: 52px 0 8px;
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  color: #2f3a3b;
  /* font-size: 1.6rem; */
  padding: 8px 19.5px;
}

.action .action-link:hover,
.nav a:hover {
  color: #2f3a3b;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.action .action-link {
  /* do padding nav a (khối menu đã là 19.5) => lấy khoảng cách gốc (177) - 19.5 */
  margin-left: 157.5px;
  color: #494949;
  text-align: center;
}

.action .action-btn {
  margin-left: 24px;
  display: inline-block;
  padding: 0 16px;
  min-width: 108px;
  line-height: 46px;
  color: #1ebfc1;
  text-align: center;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
}

/* ================== hero ===================== */
.hero {
  padding: 42px 0 79px;
}

.hero .body {
  display: flex;
}

/* ==================== hero left =================== */

.hero .body .content-block {
  width: 50%;
}

.hero .content-block .top-title {
  margin-top: 93px;
  color: #767e7e;
  font-size: 1.4rem;
}

.hero .content-block .title {
  margin-top: 18px;
  max-width: 458px;
  margin-top: 18px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
}

.hero .content-block .desc {
  margin-top: 46px;
  width: 374px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.78; /* 177.778% */
}

.hero .content-block .desc-span {
  display: inline-block;
}

.hero .content-block .cta-group {
  margin-top: 52px;
  align-items: center;
  display: flex;
}

.hero .content-block .play-video {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d1111;
  margin-left: 50px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .content-block .play-video:hover {
  background: #eee;
  box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

/* ==================== hero right =================== */
.hero .media-block {
  position: relative;
  width: 50%;
}

.hero .media-block img {
  object-fit: cover;
  width: 576px;
  height: 631px;
}

/* course */
.hero .media-course {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 149px;
  left: -40px;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .media-course::after {
  position: absolute;
  top: 45px;
  left: 29px;
  content: "";
  display: inline-block;
  width: 28px;
  height: 4px;
  background: #fff;
  border-radius: 999px;
}

.hero .media-course .course-icon {
  width: 36px;
  height: 40px;
}

.hero .media-course .detail {
  width: 55px;
  color: #0d1111;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

/* schedules */

.hero .media-schedules {
  position: absolute;
  top: 453px;
  left: -65px;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .media-schedules span {
  display: inline-block;
  margin: 16px 35px 0 36px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.hero .media-block .schedules-icon {
  margin: 16px 25px 0;
  display: block;
  width: 74px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
}

.hero .media-schedules .icon-2 {
  margin-top: 12px;
}

.hero .media-schedules .icon-3 {
  margin-top: 10px;
}

.hero .media-schedules .icon-4 {
  margin: 16px 49px auto;
  text-align: center;
  width: 26px;
  height: 6px;
}

/* media-block */
/* .hero .media-block .avatar-block {
  position: absolute;
  max-width: 207px;
  height: 90px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
  top: 500px;
  left: 324px;
}

.hero .media-block .avatar-block .detail {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  max-width: 100px;
  margin: 0 35px;
}

.hero .media-block .ava-list .ava1 {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin: 8px 139px 17px 35px;
}

.hero .media-block .ava-list .ava2 {
  width: 33px;
  height: 33px;
  border-radius: 50%;
} */

/* ===================== feature ============================ */
.feature {
  margin-top: 70px;
}

.feature .body-feature {
  max-width: 1024px;
  padding: 60px 0;
}

.feature .top-title {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.feature .heading-lv2 {
  margin-top: 18px;
  max-width: 577px;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33;
}

.feature .desc {
  max-width: 590px;
  margin-top: 18px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: normal;
}

.feature .feature-list {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.feature .feature-list .item-title {
  margin-top: 26px;
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
}

.feature .feature-list .item-desc {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  line-height: 1.69;
}

.feature .item:first-child .item-desc {
  max-width: 168px;
}

.feature .item:nth-child(2) .item-desc {
  max-width: 223px;
}

.feature .item:nth-child(3) .item-desc {
  max-width: 224px;
}

/* ===================== course ============================ */
.course {
  margin-top: 10px;
}

/* Do padding của feature ở trên đã là 60
   padding của phần course bên dưới cũng là 60
   mà trong dự án hai khối cách nhau 130px
    => chỉ cần cách margin top của course lên thêm 10px */
.course .body-course {
  max-width: 1171px;
  padding: 60px 0;
}

.course .top-title {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: normal;
}

/* heading-lv2 thì phải để max-width */
.course .heading-lv2 {
  max-width: 577px;
  margin-top: 18px;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: normal;
}

.course .h2-span {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course .h2-span .desc {
  color: #767e7e;
  font-size: 1.8rem;
  line-height: 1.78;
  width: 525px;
}

.course .h2-span .text {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.course .course-list {
  display: flex;
  justify-content: space-between;
  margin-top: 79px;
}

.course .heading-lv3 {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
}

/* thẻ cha */
.course .course-list .course-item {
  position: relative;
}

/* an image only use width and height nor, no need to use max or min width */
.course .course-item .thumb {
  width: 359px;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0.7;
  background: #d0efed;
}

/* đối với phần tử đè lên cha chỉ cần set width and height normal */
.course .course-item .course-detail {
  position: absolute;
  top: 322px;
  left: 17px;
  width: 325px;
  height: 195px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.course .course-detail .wrap-item {
  padding: 18px 25px 0;
}

.course .course-detail .cost {
  margin-top: 16px;
  color: #767e7e;
  font-size: 1.6rem;
  line-height: normal;
}

.course .course-detail .cost span {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
}

.course .course-detail .desc {
  margin-top: 6px;
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
}

.course .course-detail .static {
  margin-top: 18px;
  left: -10px;
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
}

.course .course-detail .static span::before {
  margin: 0 10px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #1ebfc1;
}

/* ==================== Count Down ======================= */
/* course có padding là 60px
  hai khối cách nhau 265px */

.countdown {
  margin-top: 180px;
}

.countdown .body {
  margin-left: auto;
  margin-right: auto;
  max-width: 862px;
  padding: 25px 0;
}

.countdown .countdown-list {
  display: flex;
  justify-content: space-between;
}

.countdown .countdown-item .static {
  color: #0d1111;
  text-align: center;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: normal;
}

.countdown .countdown-item .desc {
  margin-top: 11px;
  color: #767e7e;
  text-align: center;
  font-size: 1.8rem;
  line-height: normal;
}

/* ==================== Feedback ======================= */
.feedback {
  margin-top: 225px;
}

.feedback .body {
  position: relative;
  padding: 37px 0;
}

.feedback blockquote {
  max-width: 419px;
  margin-top: 27px;
  color: #5d6564;
  font-size: 3.2rem;
  line-height: 1.5;
}

.feedback .body .desc {
  margin-top: 33px;
  /* Nên dùng inline-block thay vì flex vì nó sẽ không bỏ qua và hiển thị khoảng trắng giữa các chữ như bình thường */
  /* phải đổi sang display khác để có thể sử dụng align item */
  display: flex;
  align-items: center;
  /* Dùng gap để có thể cách ra, vì thuộc tính display flex không kích hoạt khoảng trắng */
  gap: 4px;
  color: #767e7e;
  font-size: 1.6rem;
  line-height: normal;
}

.feedback .body .desc::before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  height: 2px;
  width: 8px;
  background: #070707;
}

.feedback .body .desc strong {
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
}

.feedback .feedback-cta {
  margin-left: -30px;
  display: flex;
  margin-top: 52px;
  display: flex;
}

.feedback .feedback-cta .cta-btn-group {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2ac9bf;
}

.feedback .feedback-cta .cta-btn-group:hover {
  opacity: 0.9;
  box-shadow: 1px solid rgba(207, 20, 195, 0.05);
  transition: 0.5s;
}

.feedback .ava-fb {
  position: absolute;
  width: 78px;
  height: 78px;
  border-radius: 50%;
}

.feedback .avar-fb-1 {
  left: 635px;
  top: 0;
  width: 92px;
  height: 92px;
}

.feedback .avar-fb-2 {
  left: 1060px;
  top: 19px;
  width: 110px;
  height: 110px;
}

.feedback .avar-fb-3 {
  left: 1060px;
  top: 374px;
  width: 78px;
  height: 78px;
}

.feedback .avar-fb-4 {
  left: 703px;
  top: 403px;
  width: 78px;
  height: 78px;
}

.feedback .avar-fb-5 {
  left: 491px;
  top: 258px;
  width: 78px;
  height: 78px;
}

.feedback .avar-fb-6 {
  left: 764px;
  top: 107px;
  width: 235px;
  height: 235px;
}
